<section id="demo" class="py-20">
    <div style="position: relative; padding-bottom: 50%; height: 0;">
        <iframe src="https://www.loom.com/embed/9a6705ab73884087a13b351b3a701794?sid=5eb2b218-c9ef-4783-80f1-d9abd34ceb18" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
        </iframe>
    </div>
</section>
