---
const links = [
  { href: '/#demo', label: 'Demo' },
  { href: '/#about', label: 'About' },
  { href: '/#contact', label: 'Contact' },
  { href: '#', label: 'Documentation', comingSoon: true },
];
---
<nav class="sticky top-0 z-50 bg-white">
  <div class="flex items-center justify-between p-4 mx-20">
    <div class="flex flex-row items-center">
      <img src="logo.svg" width="50"/>
      <a
        href="/"
        class="text-4xl font-black font-logo text-primary"
      >
        janvier
      </a>
    </div>
    <ul class="hidden gap-12 md:flex md:text-xl">
      {links.map(link => (
        <li>
          <a
            href={link.href}
            class="relative"
          >
            {link.label}
            {link.comingSoon && <span class="ml-1 text-xs text-gray-400">(coming soon)</span>}
          </a>
        </li>
      ))}
    </ul>
  </div>
</nav>
