<section class="py-16">
  <h2 class="text-center text-2xl font-semibold">Our partners</h2>
  <div class="mx-auto flex max-w-5xl flex-wrap items-center justify-center gap-8">
    <img src="partners/Ensta_logotype_03_bleu_rvb_1.png" width=500/>
  </div>
</section>
