<section class="py-16">
  <h2 class="mb-8 text-center text-2xl font-semibold">Support models from</h2>
  <div class="mx-auto flex max-w-5xl flex-wrap items-center justify-center gap-8 opacity-70">
    <!-- Replace placeholder boxes with imported SVGs or PNGs -->
    <img src="support/amazonscience-squidink.svg" width=150/>
    <img src="support/IBM.svg" width=100/>
    <img src="support/salesforce_icon_196210.svg" width=100/>
    <img src="support/datadog_N.svg" width=100/>
    <img src="support/hf-logo-pirate.svg" width=50/>
  </div>
</section>
